<div class="row text-center margin-bottom-40px intro-section">
  <div class="column twelve">
    <h3 class="margin-bottom-none">Welcome to the review site <%= @user.name.titleize %></h3>
  </div>
</div>

<ul>
  <% Review.all.each do |review| %>
    <li><strong>Name:</strong> <%= review.name %></li>
    <li><strong>Category:</strong> <%= review.category %></li>
    <li><strong>Rating:</strong> <%= review.rating %></li>
    <li><strong>Author:</strong> <a href="/reviews/user/<%= review.user.slug %>"><%= review.user.name.titleize %></a></li>
    <a class="button button-primary" href="/reviews/<%= review.slug %>">Read review</a>
    <% if current_user.id == review.user_id  %>
      <a class="button" href="/reviews/<%= review.slug %>/edit">Edit review</a>
      <form class="inline" method="post" action="/reviews/<%= review.slug %>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input class="button" type="submit" value="Delete review">
      </form>
    <% end %>
    <hr>
  <% end %>
</ul>
