<ul>
  <li><strong>Name:</strong> <%= @review.name %></li>
  <li><strong>Category:</strong> <%= @review.category %></li>
  <li><strong>Rating:</strong> <%= @review.rating %></li>
  <li><strong>Description:</strong> <%= @review.content %></li>
</ul>

<% if current_user.id == @review.user_id  %>
  <a class="button" href="/reviews/<%= @review.slug %>/edit">Edit review</a>
  <a class="button" href="/reviews/<%= @review.slug %>/delete">Delete review</a>
<% end %>